<form method="post">
    <input name="CategoryLanguages[0].Name" placeholder="CategoryNameAz" />
    <input name="CategoryLanguages[1].Name" placeholder="CategoryNameRu" />
    <input name="CategoryLanguages[2].Name" placeholder="CategoryNameEn" />

    <input name="CategoryLanguages[0].LangCode" value="Az" type="hidden" />
    <input name="CategoryLanguages[1].LangCode" value="Ru" type="hidden" />
    <input name="CategoryLanguages[2].LangCode" value="En" type="hidden" />

    <input name="PhotoUrl" placeholder="PhotoUrl" />



    <input type="submit" value="Elave et" />
</form>