@model List<ProductDashboardListDTO>


<a href="/dashboard/product/create" class="btn btn-success">Create</a>



<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <a href="/dashboard/article/create">Create</a>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>PhotoUrl</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>PhotoUrl</th>
                        <th>Title</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <td>
                                <img src="@product.PhotoUrl" width="150" height="150" />
                            </td>
                            <td>@product.Name</td>
                            <td>
                                <a class="btn btn-success" href="/dashboard/article/edit/@product.Id">Edit</a>
                                <a class="btn btn-primary" href="/dashboard/article/detail/@product.Id">Detail</a>
                                <a class="btn btn-danger" href="/dashboard/article/delete/@product.Id">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts{

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous"></script>

    <!-- Page level plugins -->
    <script src="~/admin/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/admin/js/demo/datatables-demo.js"></script>

}

